body {
  background-color: darkorange;
}

h1 {
  font-size: 70px;
  color: black;
  text-align: center;
}

h2 {
  font-size: 28px;
  color: black;
  text-align: left;
  width: 70%;
  padding-left: 15%;
}

h3 {
  font-size: 35px;
  color: black;
  text-align: center;
}

p {
  text-align: left;
  font-family: verdana;
  font-size: 20px;
  padding-left: 15%;
  width: 70%;
}
