body {
  background-color: darkorange;
  background-image: url('retro_orks.png');
}

h1 {
  color: black;
  text-align: center;
}

p {
  background-image: url('retro_orks.png');
  font-family: verdana;
  font-size: 20px;
  padding: 200 px;
}
